<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}

		<h1 class="site-title">
			<a aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        {% assign name_page = "" %}
        {% for links in site.data.navigation %}
            {% unless links.title == null or page.hide or name_page contains page.title %}
            <li class="separator"> | </li>
            {% if links.sublinks %}
            <li>
              <div class = "dropdown">
                <button class ="dropbtn">
                  <a class ="clear" aria-label="{{ links.title }}" title="{{ links.title }}" href="{{ links.url | relative_url }}">
                    {% if links.icon %} <i class="fa {{ links.icon }}" aria-hidden="true"></i>
                    {% else %}{{links.title}} <span class ="symbol">&#x25BC;</span>{% endif%}
                  </a>
                </button> 
                <div class ="dropdown-content" >
                  {% for link in links.sublinks %}
                    <a class ="clear" aria-label="{{ link.title }}" title="{{ link.title }}" href="{{ link.url | relative_url }}">
                      {% if link.icon %} <i class="fa {{ link.icon }}" aria-hidden="true"></i>
                      {% else %}{{link.title}}{% endif%}
                    </a>  
                  {%endfor%}
                </div>
              </div>
            </li>
            {%else%}
              <li>
                  <a class ="clear" aria-label="{{ links.title }}" title="{{ links.title }}" href="{{ links.url | relative_url }}">
                      {% if links.icon %} <i class="fa {{ links.icon }}" aria-hidden="true"></i>
                      {% else %} {{ links.title }} {% endif%}
                  </a>
              </li>
            {%endif%}
            {% endunless %}
        {% endfor %}
        {% assign name_page = page.title | append: name_page %}
      </ul>

	</nav>
</header>
